@{
    Layout = "~/Views/Shared/_layout2.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="">
    <img src="~/images/header-bg-1.jpg" class="img-fluid logo" alt="main_image">
    <div class="card-img-overlay overlay1 clearfix">
        <h2 class="code-zeW">CODE THE WORLD</h2>
        <h1 class="lead scripted">
            Welcome to AdoretZ <br>
            <span class="txt-rotate" data-period="1000" data-rotate='[ "Creative company !",
               "Aims to serve aloquently" ]'>
            </span>
        </h1>

        <p>
            This is a simple hero unit, a simple jumbotron-style component <br> for calling extra attention to featured
            content
            or information.
        </p>
        <p class="lead">
            <a class="btn btn-primary " href="#" role="button">Read more</a>
        </p>
    </div>
</div>

<section>

    <div class="container">
        <div class="row margin100">
            <div class="col-md-4">
                <div class="row ">
                    <div class="  col-3">
                        <span id="bus-goal">

                            <i class="material-icons iconim">addchart</i>
                        </span>
                    </div>
                    <div class=" col-7 m-2rem">
                        <h5 class="card-title">Business Goal</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Minus deserunt voluptates itaque,
                            labore facilis odit officia in laborum expedita repudiandae!.
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="row ">
                    <div class="col-3">
                        <span id="bus-goal" >

                            <i class="material-icons iconim">group</i>
                        </span>
                    </div>
                    <div class=" col-7 m-2rem">
                        <h5 class="card-title">Professional team</h5>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet
                            adipisicing elit. Minima aperiam mollitia esse et quas
                            aspernatur ea doloribus dicta, voluptates quibusdam?
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="row ">
                    <div class="col-3">
                        <span id="bus-goal" >

                            <i class="material-icons iconim">gavel</i>
                        </span>
                    </div>
                    <div class=" col-7 m-2rem">
                        <h5 class="card-title"> Vision</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Quo maxime explicabo,
                            consectetur officia modi fugiat!
                            Consequuntur exercitationem minus illo cum..
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="fixed-back">
        <div class="card-img-overlay ovarlay4 " style="">
            <h2 class="aboutus-zeW">ABOUT US</h2>
            <h1 class="lead scripted">
                Passionate about perfection <br>
            </h1>

            <p>
                This is a simple hero unit, a simple jumbotron-style component <br>
                for calling extra attention to featured
                content<br>
                or information. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. <br>Tenetur repellat soluta, necessitatibus
                doloremque dolor quod,<br> quo tempore nulla delectus sed voluptate
                voluptas perferendis reprehenderit <br>
                temporibus expedita vitae excepturi culpa? Odio.
            </p>
            <p class="lead">
                <a class="btn btn-primary " href="#" role="button">Read more</a>
            </p>
        </div>

    </div>
    <div class="contnental">
        <div class="crative_agency">
            <h2 class="creative-zeW">CREATIVE AGENCY</h2>
            <h1 class="lead scripted">
                Latest works<br>
            </h1>

            <p>
                This is a simple hero unit, a simple jumbotron-style component <br>
                for calling extra attention to featured
                content<br>
            </p>

        </div>


        <!--Carousel Wrapper-->
        <div class="top-content">
            <div class="container-fluid">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>


                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-2">
                                <img class="card-img-top"
                                     src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                     alt="Card image cap">
                                <div class="content">
                                    <h6 class="heading dark">Web</h6>
                                    <p class="heading margin-null">Done right</p>
                                    <span class="read"><i class="material-icons magn-16">add</i></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <!--/.Carousel Wrapper-->

        <div class="fixed-back2">
            <div class="card-img-overlay ovarlay5  row" style="">
                <div class="col-6">


                    <p>
                        This is a simple hero unit, a simple jumbotron-style component <br>
                        for calling extra attention to featured
                        content<br>
                        or information. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. <br>Tenetur repellat soluta, necessitatibus
                        doloremque dolor quod,<br> quo tempore nulla delectus sed voluptate
                        voluptas perferendis reprehenderit <br>
                        temporibus expedita vitae excepturi culpa? Odio.
                    </p>
                    <p class="lead">
                        <a class="" href="#">AC company John Mad</a>
                    </p>
                </div>
                <div class="col-6">

                    <p>
                        This is a simple hero unit, a simple jumbotron-style component <br>
                        for calling extra attention to featured
                        content<br>
                        or information. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. <br>Tenetur repellat soluta, necessitatibus
                        doloremque dolor quod,<br> quo tempore nulla delectus sed voluptate
                        voluptas perferendis reprehenderit <br>
                        temporibus expedita vitae excepturi culpa? Odio.
                    </p>
                    <p class="lead">
                        <a class="" href="#">AC company John Mad</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row news">
            <div class="col-xl-6">
                <h2 class="News-zeW">News</h2>
                <h1 class="leader scripted">
                    Latest Posts. Stay tuned! <br>
                </h1>

                <p>
                    In this  X-mass month we have a big offer to create Website for very low cost <br>
                    or information. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. <br>Tenetur repellat soluta, necessitatibus
                    doloremque dolor quod,<br> quo tempore nulla delectus sed voluptate
                    voluptas perferendis reprehenderit <br>
                    temporibus expedita vitae excepturi culpa? Odio.
                </p>
                <p class="lead">
                    <a class="btn btn-primary " href="#" role="button">Read All News</a>
                </p>
            </div>
            <div class="col-xl-3">
                <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                         alt="Card image cap">
                    <div class="content">

                        <h5 class="card-title">Card Title</h5>
                        <a href="">Blog Grid 21.june.2020</a>
                        <p class="card-text">Card with header and footer .</p>

                        <span class="read"><i class="material-icons magn-16">add</i></span>

                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                         alt="Card image cap">
                    <div class="content">

                        <h5 class="card-title">Card Title</h5>
                        <a href="">Blog Grid 21.june.2020</a>
                        <p class="card-text">Card with header and footer.</p>

                        <span class="read"><i class="material-icons magn-16">add</i></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>